import { defineConfig } from 'vite';
import { resolve } from 'path';

export default defineConfig({
  root: '.', // Root folder is project root
  build: {
    rollupOptions: {
      input: {
        index: resolve(__dirname, 'index.html'),
        login: resolve(__dirname, 'login.html'),
        signup: resolve(__dirname, 'signup.html'),
        dashboard: resolve(__dirname, 'dashboard.html'),
        quizzes: resolve(__dirname, 'quizzes.html'),
        games: resolve(__dirname, 'games.html'),
        progress: resolve(__dirname, 'progress.html')
      }
    }
  }
});
